button {
  border-radius: 8px;
  padding: 8px 12px;
  width: fit-content;
  white-space: nowrap;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  outline: none;
  border: none;
}

.buttonLink {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  font-weight: 600;
}

.button {
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;

  &--primary {
    background-color: var(--primary);
    color: var(--grey-extralight);
    border: 1px solid transparent;
  }

  &--secondary {
    background-color: transparent;
    color: var(--secondary-dark);
    border: 1px solid var(--secondary-dark);

    &--red {
      background-color: transparent;
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }

  &--edit--svg {
    background-color: transparent;
    border: none;
    padding: 0;
    & > svg > path {
      stroke: var(--black);
    }
  }

  &--link {
    position: relative;
    background-color: transparent;
    color: var(--grey-dark);
    padding: 0;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      background-color: var(--grey-dark);
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: width .3s ease-in-out;
    }
    &:hover::before {
      width: 100%;
    }
  }
}


.button--edit {
  background-color: var(--secondary-light);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--secondary-dark);
  cursor: pointer;
  padding: 4px 12px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: border .3s ease-in-out;

  &:hover {
    border: 1px solid var(--secondary-dark);
  }
}

.button--delete {
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--grey-extralight);
  cursor: pointer;
  padding: 4px 12px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: border .3s ease-in-out;

  &:hover {
    border: 1px solid var(--grey-extralight);
  }
}

.twoButtonSet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;

  // premiére enfant
  & > *:first-child {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
}



.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  input[type="radio"] {
    appearance: none;
    width:40px;
    height:40px;
    border: 1px solid var(--secondary-dark);
    border-radius:50%;
    outline:none;
    transition: border .3s ease-in-out, background-color .3s ease-in-out;
    &:checked {
      background-color: var(--secondary-light);
      border: 1px solid var(--secondary-light);
      &:hover {
          border: 1px solid var(--secondary-dark);
          background-color: var(--secondary-light);
      }
    }
    &:hover {
      border: 1px solid var(--secondary-dark);
      background-color: var(--secondary-light);
    }
  }
  label {
    position: absolute;
    transform-origin: 50% 50%;
    transform: translate(42%, 11%);
    color: var(--secondary-dark);
  }
  &:hover {
    cursor: pointer;
    input[type="checkbox"] {
      background-color: var(--secondary-light);
    }
  }
}

.checkbox--batch {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  input[type="radio"].textContaint {
    display: none;
  }
  input[type="radio"].textContaint + label {
    border: 1px solid var(--secondary-dark);
    background-color: var(--white);
    transition: background .3s linear, border .3s linear;
    color: var(--secondary-dark);
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 100px;
  }
  /* input[type="radio"].textContaint:hover + label {
    background-color: var(--secondary-light);
  } */
  input[type="radio"].textContaint:checked + label {
    border: 1px solid var(--secondary-light);
    background-color: var(--secondary-light);
  }
}
