button {
  border-radius: 8px;
  padding: 8px 12px;
  width: fit-content;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  outline: none;
  border: none;
}

.buttonLink {
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  font-weight: 600;
}

.button {
  width: fit-content;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;

  &--primary {
    background-color: var(--primary);
    color: var(--grey-extralight);
    border: 1px solid transparent;
  }

  &--secondary {
    background-color: transparent;
    color: var(--black);
    border: 1px solid var(--black);

    &--red {
      background-color: transparent;
      color: var(--primary);
      border: 1px solid var(--primary);
    }
  }

  &--link {
    position: relative;
    background-color: transparent;
    color: var(--grey-dark);
    padding: 0;

    &::before {
      position: absolute;
      content: '';
      display: inline-block;
      background-color: var(--grey-dark);
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: width .3s ease-in-out;
    }
    &:hover::before {
      width: 100%;
    }
  }
}


.button--edit {
  background-color: var(--secondary-light);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--secondary-dark);
  cursor: pointer;
  padding: 4px 12px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: border .3s ease-in-out;

  &:hover {
    border: 1px solid var(--secondary-dark);
  }
}

.button--delete {
  background-color: var(--primary);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--grey-extralight);
  cursor: pointer;
  padding: 4px 12px;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  transition: border .3s ease-in-out;

  &:hover {
    border: 1px solid var(--grey-extralight);
  }
}

.twoButtonSet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  width: 100%;

  // premiére enfant
  & > *:first-child {
    background-color: transparent;
    color: var(--primary);
    border-color: var(--primary);
  }
}


input[type="radio"] {
  appearance: none;
  width:40px;
  height:40px;
  border: 1px solid var(--secondary-dark);

  border-radius:50%;
  outline:none;

  transition: border .3s ease-in-out, background-color .3s ease-in-out;

  &:checked {
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary-light);
    &:hover {
        border: 1px solid var(--secondary-dark);
        background-color: var(--secondary-light);

    }
  }

  &:hover {
    border: 1px solid var(--secondary-dark);
    background-color: var(--secondary-light);
  }

}

.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;

  position: relative;

  label {
    position: absolute;
    transform-origin: 50% 50%;
    transform: translate(42%, 11%);
    color: var(--secondary-dark);
  }

  &:hover {
    cursor: pointer;

    input[type="checkbox"] {
      background-color: var(--secondary-light);
    }
  }
}
