form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1em;
  width: 100%;
  box-sizing: border-box;

  label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter-Bold', sans-serif;

    .align-row {
      gap: 2px;
    }
  }

  input::placeholder {
      color: var(--grey-regular);
      font-size: 16px;
      font-weight: 400;
      font-family: 'Inter-Regular', sans-serif;
  }

  .threeButtonSet {
    display: flex;
    justify-content: space-between;
    width: 100%;
    & > div {
      display: flex;
      gap: 16px;
    }
  }

  .messageAlerte {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter-Regular', sans-serif;
    width: 100%;
    text-align: center;
  }

  .input--txt {
    height: 40px;
    padding: 0 16px;
    border: 1px solid transparent;
    background-color: var(--grey-light);
    border-radius: 8px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter-Regular', sans-serif;
    color: var(--grey-dark);
    outline: none;
    transition: border .3s ease-in-out;
  }

  .input--txt:hover {
    border: 1px solid var(--grey-regular);
  }

  .input--txt:focus {
    border: 1px solid var(--grey-regular);
  }


  label[for="description"] {
    flex-grow: 1;
    .input--txt {
      width: 100%;
      height: 100%;
      padding: 8px;
      resize: none;
      box-sizing: border-box;

      &::placeholder{
        color: var(--grey-regular);
        font-size: 16px;
        font-weight: 400;
        font-family: 'Inter-Regular', sans-serif;
      }

      &::-webkit-scrollbar {
        width: 8px;
      }
    }
  }

  ::-webkit-file-upload-button {
    background: var(--secondary-light);
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 8px 12px;
    outline: none;
    color: var(--secondary-dark);
    font-size: 16px;
    font-weight: 600;
    transition: border .3s ease-in-out;
  }

  ::-webkit-file-upload-button:hover {
    border: 1px solid var(--secondary-dark);
  }
}
