nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 16px 0;
  gap: 16px;

  & > button {
    cursor: pointer;
    text-decoration: none;
  }

  & > .button_active {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }
}

.nav__button {
  background-color: transparent;
  font-size: 20px;
  letter-spacing: 0.1px;
  font-weight: 400;
  padding: 4px 0;
  width: fit-content;
  border-radius: 0px;
  color: var(--black);
  position: relative;
  &::before {
    transition: width .3s ease-in-out;
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--primary);
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  &--active {
    -webkit-text-stroke: 0.7px var(--black);
    &::before {
      height: 2px;
      width: 100%;
    }
  }
}
