.password-strength-indicator {
  height: 5px;
  width: 100%;
  background: #F44336;
  border-radius: 0 0 8px 8px;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.password-strength-indicator.weak {
  background: #F44336;
}

.password-strength-indicator.good {
  background: #FFC107;
}

.password-strength-indicator.strong {
  background: #4CAF50;
}

.password-strength-indicator.very-strong {
  background-image: linear-gradient(to right, #9400d3, #4b0082, #0000ff, #00ff00, #ffff00, #ff7f00, #ff0000);
  background-size: 300% 100%;
  animation: rainbow 5s linear infinite alternate;
}

#password-indic {
  border-radius: 8px 8px 0 0;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
