body {
  margin: 0;
  font-family: 'Inter-Regular', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  color: var(--grey-dark);
  background-color: var(--white);
}

h1, h2, h3 {
  font-family: 'Circular-Medium', sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

h1, h2, h3, p, a {
  margin: 0;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: var(--grey-dark);
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

.text-medium {
  font-weight: 700;
  font-size: 32px;
  text-transform: capitalize;
}

.text-normal {
  font-weight: 500;
  font-size: 24px;
  text-transform: capitalize;
}

.md-text-1 {
  font-size: 16px;
  font-weight: 600;
}

.align-row {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.messageError {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
  font-family: 'Inter-Regular', sans-serif;
}

.text {
  &--secondary {
    color: var(--secondary);
  }
}

::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
  background: #F2F2F2;
}
  ::-webkit-scrollbar-thumb {
  background: #C4C2C3;
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {

  background: #666666;
}
