:root {
  .light-theme {
    --background: #FFFFFF;
    --backgroundCard: #FDF9FA;
    --text-color: #1B1A21;
  }
  .dark-theme {
    --background: #000000;
    --backgroundOpacity: #0F0F0F;
    --text-color: #E5E5E5;
  }
}
