@font-face {
  font-family: 'Circular-Medium';
  src: url('../fonts/Circular/circular-std-medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../fonts/Inter/Inter-Regular.ttf) format('ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../fonts/Inter/Inter-Medium.ttf) format('ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../fonts/Inter/Inter-Bold.ttf) format('ttf');
  font-weight: 800;
}
